html { 
  font-size: 22px; 
  /* font-size: 1rem;  */
  font-family: "Times New Roman", serif;
  /* font-family: TNYAdobeCaslonPro, Times New Roman, Times, serif; */
  background: #eee;

  image-rendering: -webkit-optimize-contrast;
}
body { 
  /* padding: 1rem;  */
}

a{
  text-decoration: none;
}
/* ----------------------------------------------- */
.card {
  /* background-color: dodgerblue; */
  color: #666;
  /* font-size: 16px;  */
  /* text-align: right; */
  /* padding: 1rem; */
  height: 10rem;
  overflow: hidden;
}

.card img {
  width: 100%;
}
.card img:hover{
  /* -webkit-filter: grayscale(1) invert(1); */
  /* filter: grayscale(1) invert(1); */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/filter */
  filter: sepia(1);
}

.cards {
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
}
@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 900px) {
  .cards { 
    max-width: 1200px;
    grid-template-columns: repeat(3, 1fr); 
  }
}

/* ----------------------------------------------- */
.header { 
  /* background: black; */
}

header, footer{
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
}
/* @media (min-width: 600px) { */
/* } */
@media (min-width: 900px) {
  .header { 
    max-width: 1200px;
  }
}

header .logo{
  /* float: left; */
  /* margin: 0 auto; */
}
header .logo img{
  max-height: 10rem;
  /* margin: 0 auto; */
}
header .logos {
  /* display: inline-flex; */
  /* margin: 1rem; */
}

header .logos img{
  max-height: 48px;
  margin: 0.6rem;
}
@media (min-width: 600px) {
  header .logos img{
    max-height: 48px;
    margin: 0.6rem;
  }
}
@media (min-width: 900px) {
  header .logos img{
    max-height: 40px;
    margin: 0.6rem;
  }
}

header .logos div{
  /* width: 350px; */
  width: 50%;
  margin: 0 auto;
}
header div{
  margin: 1rem 0;
}
header h1, header h2{
  font-size: 1rem;
}


header nav {
  margin-bottom: 2rem;
}
header nav {
  /* font-variant: small-caps; */
}
header nav a{
  color: black;
  font-size: 2rem;
  /* margin: 0 1rem; */
  text-decoration: none;
}
header nav a:hover{
  color: #777;
}


/* ----------------------------------------------- */
footer {
  background: black;
  color: white;
  text-align: center;
  /* margin-top: 2rem; */
  /* height: 5rem; */
  /* max-width: 1200px; */
  margin: 1rem auto 0 auto;
  padding: 2rem 0;
}
footer nav a{
  color: white;
  font-size: 1.3rem;
  margin: 0 1rem;
  text-decoration: none;
}
footer nav a:hover{
  color: #777;
}
footer .logo{
  /* float: left; */
  /* margin: 0 auto; */
}
footer .logo img{
  max-height: 10rem;
  /* margin: 0 auto; */
}
footer .logos {
  margin: 2rem;
  /* display: inline-flex; */
  /* margin: 1rem; */
}
footer .logos img{
  /* max-height: 1.3rem; */
  height: 50px;
  margin: 1rem;
}
/* footer .logos div{ */
/*   width: 250px; */
/*   margin: 0 auto; */
/* } */
/* footer div{ */
/*   margin: 1rem 0; */
/* } */

/* ----------------------------------------------- */
article{
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.blog{
  text-align: left;
}

article h1 {
  text-align: center;
  /* text-transform: lowercase; */
}

.portfolio-logos {
  text-align: center;
}

.bigs a img {
  max-width: 100%;
  /* max-height: 40rem; */
}
.portfolio-logos a img {
  width: 3rem;
  max-width: 4em;
  margin: 0 1em;
  display: inherit;
}
.portfolio-logos a .pictorem-logo{
  width: 6rem;
}

.smalls {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.smalls img {
  margin: 0em 0;
  max-width: 100%;
}
/* ----------------------------------------------- */
.micros blockquote p{
  font-style:italic; 
}
.micros hr{
  margin: 2rem 0;
  height:2px;
  border-width:0;
  color:#999;
  background-color:#999;
}
/* ----------------------------------------------- */
.bloglist{
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
}
.bloglist h1{
  text-align: center;
}

.bloglist ul li a {
  text-decoration: none;
  font-size: 130%;
  color: black;
}
.bloglist ul li p {
  font-size: 70%;
}
.bloglist ul li img {
  width: 4rem;
  float: left;
  margin-right: 1rem;
}

.bloglist ul li {
  margin-bottom: 2rem;
}

.bloglist ul {
  list-style-type: none;
}

